*{

    margin: 0;
    padding: 0;

}


section#infos{

    text-align: center;
    padding: 5rem;

}

section#infos button{

    margin-top: 5rem;
}



section#infos div#txt span#descricao{

    margin-bottom: 5rem;

}

section#infos img#imagem{

    margin-top: 5rem;
    width: 23%;

}

