*{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;

}


section#infos{

    text-align: center;
    padding: 5rem;

}

section#infos button#alterar{

    font-size: 1rem;
    padding: .5rem;
    margin-top: 4rem;
    border: 2px solid;
    cursor: pointer;
}




section#infos div#txt{

    font-size: 1.3rem;
    font-weight: 300;
}

section#infos div#txt span#descricao{
    
   margin-top: 5rem;

}

section#infos img#imagem{

    margin-top: 5rem;
    width: 23%;

}

