/* RESETANDO MARGEM */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Uchen', serif;
}  


html{

    scroll-behavior: smooth;

}
nav{
    
    position: fixed;
    width: 100%;
    background-color: rgb(146, 227, 169);
   
    
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}


nav ul{

    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    
    padding: 1rem;
}


nav ul li a{

    text-decoration: none;
    color: black;
    font-weight: 400;
}

header{
    background-color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 3rem;
    margin-left: 20rem;
}

header div#img-coding {

    display: flex;
    /* justify-content: center; */
    
}


header div#img-coding img{

    width: 50%;
}

header div p{
    
    font-size: 2vw;     
    font-weight: 700;
    color: rgb(108, 184, 108);
    /* margin-left: 5rem; */
    font-family: 'Noto Sans JP', sans-serif;
    width: 400px;
}

header div span{

    font-size: 0.7vw;
    font-weight: 400;
    margin-left: 15rem;
    font-family: 'Noto Sans JP', sans-serif;
} 





section#sobre-mim{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: whitesmoke
    
}

section#sobre-mim div img{

    width: 60%;
    border-radius: 50%;
    display: block;
    margin: auto

}
section#sobre-mim div p{

    color: black;
    margin-left: 1rem;
    
}

section#projetos{

    display: flex;
    justify-content: center; /*Alinha os itens horizontalmente*/
    /* align-items: center; Alinha os itens verticalmente      */
    padding: 1rem; /*Espaçamento interno nos elementos*/
}

section#projetos div{

    padding: 2rem;
}

section#projetos div img{
    
    /*Essas duas linhas abaixo, alinham o elemento (tag) centralmente */
    display: block;
    margin: auto;
    
    
    width: 250px;
    margin-top: 2rem;
}


section#projetos div h2{

    padding: 1rem;
    text-align: center;

}

section#projetos div p{

    justify-content: justify;

}


section#projetos div button{

    border: 1px solid rgb(3, 19, 8);
    color: black;
    padding: 1rem;
    font-size: .8vw;
    font-weight: 500;
    border-radius: .5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: .3s ease-out
}



section#projetos div button a{
    
    color: black;
    text-decoration: none;

}

section#projetos div button:hover{

    
    color: black;
    transform: scale(1.2)
}


section#contato{

    display: flex;
    justify-content: center;
    
}

section#contato div#redes h3{

    padding: 3rem 10rem 3rem 10rem; /* Sentido horario: Cima, direita , baixo, esquerda */
    text-align: center;
    font-size: 3rem;
    flex-wrap: wrap; /* Quebra o conteúdo para a próxima linha caso não haja mais espaço para esse conteúdo na tela */
}


section#contato div#redes a{

    padding: 5rem;
    font-size: 5rem;


}